<div class='username'>
	<img src='at.png' id="at-sign">
	<form method="get" action="/:username" class='search-field'>
	  <input type="text" name="twitter_username" class="user-input" placeholder="Twitter Username">
	  <input type="submit" class='show-button' value="Show Tweets">
	</form>
</div>

<div class='loader'></div>

<!-- <div class='post_tweets'>
	<form method='post' action='/post_tweet' class='post_tweet'>
		<textarea name='tweet' size=150 rows=8 cols=40 placeholder='Text'></textarea>
		<input class='show' type='submit' value='Tweet'>
	</form>
</div> -->

<div class='results'></div>

<a class="twitter-timeline" href="https://twitter.com/BRIANs__" data-widget-id="365362427304488960">Tweets by @BRIANs__</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
